.form-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 600px;
    position:relative;
}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    height: 200px;
    align-items: center;
}

.topics-container-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    align-items: center;
}

.language-level-container {
    height: 200px;
    display: flex;
    flex-direction: column; /* Correct property for setting the direction of flex items */
    
    justify-content: center; /* Aligns items vertically in the center */
    align-items: center; /* Aligns items horizontally in the center */
    margin: 20px;
}

.language-level-container h2 {
    margin-bottom: 20px;
    color: rgb(106, 106, 106);
}


.nav-container {
    position:absolute;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.nav-container-button {
    padding: 0 30px 0 30px;
}



